body {
    text-align: center;
    background-color: #011F3F;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 3%;
    line-height: 1.4;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  

  @media (max-width: 600px) and (min-width: 500px){
    #level-title {
        font-size: 2rem;
    }

    .btn{
        margin: 15px;
        height: 180px;
        width: 180px;
    }
  }

  @media (max-width: 500px) and (min-width: 410px) {

    #level-title {
        font-size: 2rem;
    }

    .btn{
        margin: 10px;
        height: 150px;
        width: 150px;
    }
  }

  @media (max-width: 410px) {

    #level-title {
        font-size: 1rem;
    }

    .btn{
        margin: 8px;
        height: 100px;
        width: 100px;
    }
  }

  .btn-start{
    border: none;
    border-radius: 30%;
    height: 40px;
    width: 120px;
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    background-color: red;
  }

  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }